expM.csv
M_a.csv
direction_field.png
direction_field_5a.png
direction_field_5b.png
direction_field_5c.png
direction_field_5c2.png
direction_field_5c3.png
phase_portrait_5a.png
phase_portrait_5b.png
phase_portrait_5c.png
